<div class="account-details-wrapper">
  <h2>Account Details</h2>

  <div *ngIf="isLoading" class="loading">Loading account information...</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <div *ngIf="account" class="account-card">
    <div class="account-row">
      <span class="label">ID:</span>
      <span class="value">{{ account?.accountId }}</span>
    </div>
    <div class="account-row">
      <span class="label">Type:</span>
      <span class="value">{{ account?.accountType }}</span>
    </div>
    <div class="account-row">
      <span class="label">Balance:</span>
      <span class="value">{{ account?.accountBalance | currency:'INR':'symbol' }}</span>
    </div>
    <div class="account-row">
      <span class="label">User ID:</span>
      <span class="value">{{ account?.userId }}</span>
    </div>
  </div>
</div>
